/* grouped selector, will style all h1's and p's */
h1 {color: peachpuff;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
}
/*p {color: seagreen;}
this is our basic element selector,
every p on the page gets styled
*/

/* this styles the a inside a p tag
    its called a decendant selector */
p a {color: seagreen;}

/* this styles the id */
#secondparagraph {color: chartreuse;}

/* this styles a class */
.purpletext {color: purple;}

